:root {
  --min-vw: 38rem;
  --max-vw: 87.5rem; 
}


h1 {
  font-size: clamp(3.052rem, 2.7576rem + 1.0909vw, 4.209rem);
}

h2 {
  font-size: clamp(2.441rem, 2.2273rem + 0.8586vw, 3.157rem);
}

h3 {
  font-size: clamp(1.953rem, 1.7879rem + 0.6611vw, 2.369rem);
}

h4 {
  font-size: clamp(1.563rem, 1.4394rem + 0.4925vw, 1.777rem);
}

body {
  font-size: 1rem; 
}
